# ML Pipeline Problem

This question will test some basic skills in cleaning data and building a machine learning pipeline.

The focus of this test is to evaluate:

 * Ability to quickly learn a new framework (luigi)
 * Ability to manipulate and process data (cleaning, processing, feature engineering)
 * Competency in software development

This test does not focus on modelling accuracy, ability to use a fancy model,
or efficiency.  It is mainly about the mechanics of building a proper machine
learning pipeline.

## Datasets

There are two files: `airline_tweets.csv` and `cities.csv`.

`airline_tweets.csv` has twitter data regarding airline sentiment augmented
with some extra columns.  The relevant columns are:

* `airline_sentiment`: a string indicating if the tweet had positive,
  neutral or negative sentiment.
* `tweet_coord`: is a string with form "[<lat>, <long>]" if a
  geo-coordinate exists for that tweet, or an empty string otherwise.

The `cities.csv` contains information about latitude and longitude for large cities.
The relevant columns are:

* `name`: The name of the city.
* `latitude`: The latitude of the city.
* `longitude`: The longitude of the city.

## Problem

Build a basic ML pipeline using the `luigi` Python framework.  The pipeline
should clean the tweet data, prepare features for building a model, train a
classifier and score using the model.  The pipeline should have these steps:

 * `CleanDataTask`: Cleans the input tweet CSV file by removing any rows without valid geo-coordinates.
    * An invalid coordinate has either an empty `tweet_coord` column or is coordinate (0.0, 0.0).
 * `TrainingDataTask`: Extracts features/outcome variable in preparation for training a model.
    * This prepares the cleaned data into the exact form that is able to be fit by the model.
    * The "y" variable will be the multi-class sentiment (0, 1, 2 for negative, neutral and positive respectively).
    * The "X" variables will be the closest city to the "tweet_coord" using Euclidean distance.
    * You should use the `cities.csv` file to find the closest city.
    * You probably will need to one-hot encode the city names.
 * `TrainModelTask`: Trains a classifier to predict negative, neutral, positive based only on the input city.
    * Train a classifier that uses closest cities as features.
    * Dump the fitted model to the output file.
 * `ScoreTask`: Uses the scored model to compute the sentiment for each city.
    * Use the trained model to predict the probability/score for each city the
      negative, neutral and positive sentiment.
    * Output a sorted list of cities by the predicted positive sentiment score to the output file.

## Notes/Hints/Suggestions

 * We have provided a skeleton file to get you started named `pipeline.py`, and a
   script `run.sh` that will execute this luigi pipeline.
 * You must use the `luigi` package.
 * You must use Python (any version is fine).
 * Feel free to use any Python packages.  We used `pandas`, `scikit-learn`, `numpy`
   (as seen in the included requirements.txt).
 * Do not worry too much about run-time/memory efficiency.  So long as it runs
   within 15 minutes, it should be fine.

## References

 * Luigi package: `http://luigi.readthedocs.io/en/stable/`

In [204]:
"""
    There are two concerns here:
    1. 'name' is not unique in the cities.csv. 'geonameid' is a better choice. 
        I use 'name' as required by the assignment
    2. For the ScoreTask to classify the sentiment for each city. I use the closest 
        city list instead of all the cities in the cities.csv

"""

"\n    There are two concerns here:\n    1. 'name' is not unique in the cities.csv. 'geonameid' is a better choice. \n        I use 'name' as required by the assignment\n    2. For the ScoreTask to classify the sentiment for each city. I use the closest \n        city list instead of all the cities in the cities.csv\n\n"

### python pipeline.py ScoreTask --local-scheduler --tweet-file airline_tweets.csv

In [1]:
import luigi
import pandas as pd
import numpy as np
import re
import time
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib

In [2]:
cities_pd = pd.read_csv("cities.csv", encoding = "ISO-8859-1")
airline_tweets_pd = pd.read_csv("airline_tweets.csv", encoding = "ISO-8859-1")

In [3]:
cities_pd.head()

,geonameid,name,asciiname,alternatenames,latitude,longitude,feature class,feature code,country code,cc2,admin1 code,admin2 code,admin3 code,admin4 code,population,elevation,dem,timezone,modification date
0,3040051,les Escaldes,les Escaldes,"Ehskal'des-Ehndzhordani,Escaldes,Escaldes-Engo...",42.50729,1.53414,P,PPLA,AD,NaN,08,NaN,NaN,NaN,15853,NaN,1033,Europe/Andorra,2008-10-15
1,3041563,Andorra la Vella,Andorra la Vella,"ALV,Ando-la-Vyey,Andora,Andora la Vela,Andora ...",42.50779,1.52109,P,PPLC,AD,NaN,07,NaN,NaN,NaN,20430,NaN,1037,Europe/Andorra,2010-05-30
2,290594,Umm al Qaywayn,Umm al Qaywayn,"Oumm al Qaiwain,Oumm al QaÃ¯waÃ¯n,Um al Kawain...",25.56473,55.55517,P,PPLA,AE,NaN,07,NaN,NaN,NaN,44411,NaN,2,Asia/Dubai,2014-10-07
3,291074,Ras al-Khaimah,Ras al-Khaimah,"Julfa,Khaimah,RKT,Ra's al Khaymah,Ra's al-Chai...",25.78953,55.94320,P,PPLA,AE,NaN,05,NaN,NaN,NaN,115949,NaN,2,Asia/Dubai,2015-12-05
4,291696,Khawr FakkÄn,Khawr Fakkan,"Fakkan,FakkÄn,Khawr Fakkan,Khawr FakkÄn,Khaw...",25.33132,56.34199,P,PPL,AE,NaN,06,NaN,NaN,NaN,33575,NaN,20,Asia/Dubai,2013-10-25

In [4]:
cities_pd.shape

(23278, 19)

In [5]:
airline_tweets_pd.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
0,681448150,False,finalized,3,2/25/15 5:24,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/15 11:35,5.703060e+17,NaN,Eastern Time (US & Canada)
1,681448153,False,finalized,3,2/25/15 1:53,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
2,681448156,False,finalized,3,2/25/15 10:01,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/15 11:15,5.703010e+17,Lets Play,Central Time (US & Canada)
3,681448158,False,finalized,3,2/25/15 3:05,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/15 11:15,5.703010e+17,NaN,Pacific Time (US & Canada)
4,681448159,False,finalized,3,2/25/15 5:50,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/15 11:14,5.703010e+17,NaN,Pacific Time (US & Canada)

In [6]:
np.unique(airline_tweets_pd['airline_sentiment'].values)

array(['negative', 'neutral', 'positive'], dtype=object)

In [7]:
airline_tweets_pd.columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'airline_sentiment',
       'airline_sentiment:confidence', 'negativereason',
       'negativereason:confidence', 'airline', 'airline_sentiment_gold',
       'name', 'negativereason_gold', 'retweet_count', 'text', 'tweet_coord',
       'tweet_created', 'tweet_id', 'tweet_location', 'user_timezone'],
      dtype='object')

In [8]:
airline_tweets_pd.shape #.tail(20)

(14640, 20)

In [9]:
def clean_tweet_coord(pd):
    r_nan_pd = pd[~pd["tweet_coord"].isnull()]
    r_00_pd = r_nan_pd[~r_nan_pd["tweet_coord"].str.contains('[0.0, 0.0]', regex = False)]
    return r_00_pd

In [10]:
clean_pd = clean_tweet_coord(airline_tweets_pd)

In [11]:
clean_pd.shape

(855, 20)

In [12]:
clean_pd

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone
21,681448197,False,finalized,3,2/25/15 2:26,positive,1.0000,NaN,NaN,Virgin America,NaN,DT_Les,NaN,0,@VirginAmerica I love this graphic. http://t.c...,"[40.74804263, -73.99295302]",2/24/15 8:49,5.702640e+17,NaN,NaN
28,681448213,False,finalized,3,2/25/15 9:04,negative,1.0000,Bad Flight,1.0000,Virgin America,NaN,blackjackpro911,NaN,0,@VirginAmerica amazing to me that we can't get...,"[42.361016, -71.02000488]",2/24/15 5:05,5.702080e+17,"San Mateo, CA & Las Vegas, NV",NaN
29,681448214,False,finalized,3,2/25/15 9:14,neutral,0.6150,NaN,0.0000,Virgin America,NaN,TenantsUpstairs,NaN,0,@VirginAmerica LAX to EWR - Middle seat on a r...,"[33.94540417, -118.4062472]",2/23/15 23:34,5.701250e+17,Brooklyn,Atlantic Time (Canada)
32,681448223,False,finalized,3,2/25/15 1:57,negative,1.0000,Customer Service Issue,1.0000,Virgin America,NaN,Cuschoolie1,NaN,0,"@VirginAmerica help, left expensive headphones...","[33.94209449, -118.40410103]",2/23/15 21:10,5.700880e+17,Washington DC,Quito
34,681448228,False,finalized,3,2/25/15 1:01,positive,1.0000,NaN,NaN,Virgin America,NaN,NorthTxHomeTeam,NaN,0,@VirginAmerica this is great news! America co...,"[33.2145038, -96.9321504]",2/23/15 20:24,5.700770e+17,Texas,Central Time (US & Canada)
42,681448249,False,finalized,3,2/25/15 6:26,neutral,1.0000,NaN,NaN,Virgin America,NaN,GottAmanda,NaN,0,@VirginAmerica plz help me win my bid upgrade ...,"[34.0219817, -118.38591198]",2/23/15 16:24,5.700160e+17,Los Angeles,NaN
62,681448292,False,finalized,3,2/25/15 8:08,neutral,0.6858,NaN,NaN,Virgin America,NaN,adawson66,NaN,0,@VirginAmerica @ladygaga @carrieunderwood all ...,"[33.57963333, -117.73024772]",2/23/15 14:30,5.699880e+17,NaN,NaN
69,681448308,False,finalized,3,2/25/15 3:22,negative,1.0000,Lost Luggage,1.0000,Virgin America,NaN,gianagon,NaN,0,@VirginAmerica everything was fine until you l...,"[40.6413712, -73.78311558]",2/23/15 13:08,5.699670e+17,New York + Panama,Eastern Time (US & Canada)
74,681448319,False,finalized,3,2/25/15 6:39,positive,1.0000,NaN,NaN,Virgin America,NaN,mrmichaellay,NaN,0,"@VirginAmerica not worried, it's been a great ...","[36.08457854, -115.13780136]",2/23/15 11:32,5.699430e+17,Floridian from Cincinnati,Eastern Time (US & Canada)
108,681448391,False,finalized,3,2/25/15 1:48,neutral,0.6593,NaN,0.0000,Virgin America,NaN,drcaseydrake,NaN,0,@VirginAmerica I was scheduled for SFO 2 DAL f...,"[37.79374402, -122.39327564]",2/23/15 7:28,5.698820e+17,"Dallas, TX",NaN
115,681448406,False,finalized,3,2/25/15 3:39,negative,1.0000,Late Flight,1.0000,Virgin America,NaN,nicholas_v,NaN,0,@VirginAmerica should I be concerned that I am...,"[26.074379, -80.1416831]",2/23/15 5:15,5.698480e+17,NaN,Eastern Time (US & Canada)
124,681448429,False,finalized,3,2/25/15 0:57,positive,1.0000,NaN,NaN,Virgin America,NaN,cheryleng,NaN,0,@VirginAmerica you have the absolute best team...,"[33.9469039, -118.40716847]",2/22/15 17:48,5.696750e+17,NaN,Pacific Time (US & Canada)
126,681448432,False,finalized,3,2/25/15 2:40,negative,0.6703,Customer Service Issue,0.6703,Virgin America,NaN,ChrisFordisHere,NaN,0,@VirginAmerica i need to change my flight that...,"[51.04345575, -114.06071363]",2/22/15 17:14,5.696660e+17,NYC,Tehran
128,681448435,False,finalized,3,2/25/15 4:14,neutral,1.0000,NaN,NaN,Virgin America,NaN,F6x,NaN,0,@VirginAmerica How can I watch the #Oscars2015...,"[40.64662464, -73.77090177]",2/22/15 16:05,5.696490e+17,"San Francisco, CA",Pacific Time (US & Canada)
147,681448476,False,finalized,3,2/25/15 6:01,positive,1.0000,NaN,NaN,Virgin America,NaN,jessicajaymes,NaN,2,Always have it together!!! You're welcome! RT ...,"[33.94652852, -118.40766257]",2/22/15 12:49,5.696000e+17,"hollywood, california",Pacific Time (US & Canada)
189,681448570,False,finalized,3,2/25/15 8:47,positive,0.6783,NaN,NaN,Virgin America,NaN,advertisingdiva,NaN,0,@VirginAmerica you will match my #AmericanAirl...,"[38.9128188, -77.00798226]",2/21/15 17:15,5.693040e+17,DC - LA - Venice Beach,Eastern Time (US & Canada)
205,681448604,False,finalized,3,2/25/15 5:23,positive,1.0000,NaN,NaN,Virgin America,NaN,BigRichTexasPam,NaN,0,@VirginAmerica my goodness your people @love f...,"[32.84359605, -96.84910929]",2/21/15 13:52,5.692530e+17,FREE ADVICE!,Central Time (US & Canada)
211,681448619,False,finalized,3,2/25/15 3:17,negative,0.6420,Cancelled Flight,0.6420,Virgin America,NaN,BigRichTexasPam,NaN,0,@VirginAmerica why Cancelled Flight flights to...,"[32.8437698, -96.84928399]",2/21/15 13:18,5.692450e+17,FREE ADVICE!,Central Time (US & Canada)
249,681448704,False,finalized,3,2/25/15 0:43,negative,0.6706,Bad Flight,0.3514,Virgin America,NaN,eatgregeat,NaN,0,"@VirginAmerica - the passenger in 7D, Flt 338 ...","[26.06726717, -80.14433663]",2/21/15 2:36,5.690830e+17,NaN,Eastern Time (US & Canada)
264,681448735,False,finalized,3,2/25/15 3:20,positive,1.0000,NaN,NaN,Virgin America,NaN,djchuang,NaN,1,@VirginAmerica thanks for gate checking my bag...,"[32.8454782, -96.8504585]",2/20/15 16:27,5.689300e+17,"Orange County, CA",Pacific Time (US & Canada)
285,681448771,False,finalized,3,2/25/15 9:19,neutral,1.0000,NaN,NaN,Virgin America,NaN,Sleubeau,NaN,0,@VirginAmerica Need to start flying to @KCIAir...,"[39.24087254, -94.63994975]",2/20/15 12:08,5.688650e+17,"Kansas City, MO",Central Time (US & Canada)
303,681448789,False,finalized,3,2/25/15 2:25,positive,1.0000,NaN,NaN,Virgin America,NaN,thecompostcook,NaN,0,@VirginAmerica loved it. Can't wait for Monday...,"[37.77465018, -122.44032176]",2/20/15 8:53,5.688160e+17,"New York, NY",Eastern Time (US & Canada)
337,681448823,False,finalized,3,2/25/15 3:51,neutral,0.6559,NaN,NaN,Virgin America,NaN,traveldg,NaN,0,"@VirginAmerica Nice, Lofty View @flyLAXairport...","[33.94696831, -118.40747994]",2/19/15 17:05,5.685770e+17,San Francisco,NaN
409,681448901,False,finalized,3,2/25/15 4:03,negative,0.6702,Customer Service Issue,0.6702,Virgin America,NaN,Pace6445,NaN,0,@VirginAmerica your website sucks donkey dicks...,"[40.63767372, -74.11075451]",2/18/15 13:18,5.681580e+17,"Staten Island, NY",NaN
473,681448966,False,finalized,3,2/25/15 10:16,neutral,1.0000,NaN,NaN,Virgin America,NaN,mattejacob,NaN,0,@VirginAmerica you got cheese pLate Flights too.,"[40.78986648, -73.10068286]",2/17/15 14:06,5.678070e+17,New York x Long Island,Central Time (US & Canada)
475,681448968,False,finalized,3,2/25/15 0:49,positive,1.0000,NaN,NaN,Virgin America,NaN,Hakenson_LIOX,NaN,0,@VirginAmerica Dad on Segway is the best part ...,"[42.5696777, -71.42056878]",2/17/15 14:04,5.678070e+17,"Waltham, MA",Atlantic Time (Canada)
499,681448992,False,finalized,3,2/25/15 7:11,neutral,1.0000,NaN,NaN,Virgin America,NaN,WWJAYD,NaN,0,@VirginAmerica morning. If I have a question r...,"[37.80065252, -122.43857414]",2/17/15 9:47,5.677420e+17,"San Franciso, CA",Pacific Time (US & Canada)
503,681448996,False,finalized,3,2/25/15 7:56,neutral,1.0000,NaN,NaN,Virgin America,NaN,PlayjtLV,NaN,0,ÛÏ@VirginAmerica: Book out of town with fares...,"[36.08546367, -115.31814055]",2/17/15 8:43,5.677260e+17,"Las Vegas, NV",NaN
511,681449004,False,finalized,3,2/25/15 3:08,negative,0.6667,Can't Tell,0.3333,United,NaN,andycheco,NaN,0,@united you think you boarded flight AU1066 to...,"[19.43706642, -99.07927123]",2/24/15 11:31,5.703050e+17,New York,Eastern Time (US & Canada)
527,681449020,False,finalized,3,2/25/15 4:59,positive,1.0000,NaN,NaN,United,NaN,Anntasia,NaN,0,@united just wanted to let you know how wonder...,"[39.8621249, -104.6740909]",2/24/15 10:50,5.702950e+17,New Jersey/Maryland,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14129,681679287,False,finalized,3,2/25/15 19:06,negative,0.6896,Late Flight,0.6896,American,NaN,quadbaconHD,NaN,0,@AmericanAir finally about to take off! Thanks...,"[35.20493157, -80.92540817]",2/22/15 17:03,5.696640e+17,"Jacksonville Beach, Florida",Central Time (US & Canada)
14153,681679312,False,finalized,3,2/25/15 19:20,negative,1.0000,Customer Service Issue,1.0000,American,NaN,JaJillian,NaN,0,@AmericanAir I have not. There's no option for...,"[34.02148779, -118.50289643]",2/22/15 16:50,5.696610e+17,"New York, NY",Eastern Time (US & Canada)
14184,681679343,False,finalized,3,2/25/15 18:52,negative,1.0000,Cancelled Flight,0.3699,American,NaN,macario2,NaN,0,@AmericanAir help us here !!! We are stuck her...,"[40.64931132, -73.79263138]",2/22/15 16:38,5.696580e+17,Pocos de Caldas,Brasilia
14202,681679361,False,finalized,3,2/25/15 19:02,negative,0.6367,longlines,0.3542,American,NaN,macario2,NaN,0,@AmericanAir sucks!! Teco teco #reclameaqui #T...,"[40.64935461, -73.79198785]",2/22/15 16:27,5.696550e+17,Pocos de Caldas,Brasilia
14255,681679414,False,finalized,3,2/25/15 19:17,negative,1.0000,Customer Service Issue,0.6641,American,NaN,quadbaconHD,NaN,0,"@AmericanAir 's computer systems are down, can...","[35.2176668, -80.9426912]",2/22/15 15:50,5.696450e+17,"Jacksonville Beach, Florida",Central Time (US & Canada)
14288,681679447,False,finalized,3,2/25/15 18:51,negative,1.0000,Lost Luggage,1.0000,American,NaN,edhgro,NaN,0,@AmericanAir lost my wife's luggage and nobody...,"[32.9272165, -97.0396313]",2/22/15 15:35,5.696420e+17,NaN,NaN
14293,681679452,False,finalized,3,2/25/15 19:13,negative,1.0000,Customer Service Issue,0.6652,American,NaN,clara_ennist,NaN,0,@AmericanAir a phone call or email when you Ca...,"[38.83598483, -77.10864801]",2/22/15 15:34,5.696410e+17,"Arlington, VA",NaN
14337,681679496,False,finalized,3,2/25/15 19:12,negative,1.0000,Customer Service Issue,1.0000,American,NaN,tcunningham10,NaN,0,@AmericanAir @SentieriMelinda Any updates? It ...,"[40.46694635, -82.64579149]",2/22/15 14:55,5.696320e+17,Central Ohio,Eastern Time (US & Canada)
14365,681679524,False,finalized,3,2/25/15 19:23,negative,1.0000,Late Flight,1.0000,American,NaN,macario2,NaN,0,@AmericanAir we are waiting flight 919 !\nWe a...,"[40.65062011, -73.79171323]",2/22/15 14:37,5.696270e+17,Pocos de Caldas,Brasilia
14374,681679533,False,finalized,3,2/25/15 19:15,positive,1.0000,NaN,NaN,American,NaN,mwasserman818,NaN,0,@AmericanAir RDU Customer Service is awesome. ...,"[35.87912533, -78.79162128]",2/22/15 14:30,5.696250e+17,Flying Giraffe Travel,Pacific Time (US & Canada)
14381,681679540,False,finalized,3,2/25/15 19:30,negative,1.0000,Can't Tell,0.6482,American,NaN,eneyberg,NaN,0,"@AmericanAir please fix your inventory system,...","[40.64824535, -73.80141955]",2/22/15 14:24,5.696240e+17,"Cambridge, Massachusetts",Pacific Time (US & Canada)
14388,681679547,False,finalized,3,2/25/15 19:10,negative,1.0000,Customer Service Issue,1.0000,American,NaN,sweetmel,NaN,0,@AmericanAir Are you kidding? You don't think ...,"[32.9760867, -96.53332214]",2/22/15 14:18,5.696220e+17,"Dallas, TX",Central Time (US & Canada)
14391,681679550,False,finalized,3,2/25/15 19:12,positive,1.0000,NaN,NaN,American,NaN,kidith_paulino,NaN,0,@AmericanAir AA2416 on time and awesome flight...,"[25.79101279, -80.28861743]",2/22/15 14:16,5.696220e+17,NaN,Eastern Time (US & Canada)
14417,681679576,False,finalized,3,2/25/15 19:13,negative,1.0000,Customer Service Issue,1.0000,American,NaN,MarkPerlowitz,NaN,0,@AmericanAir I need to order a special meal an...,"[15.1659317, 120.5830548]",2/22/15 14:05,5.696190e+17,NaN,NaN
14420,681679579,False,finalized,3,2/25/15 19:11,negative,1.0000,Flight Attendant Complaints,0.6877,American,NaN,SarahisJewish,NaN,0,@AmericanAir 245. I'm about to take off but on...,"[38.85482856, -77.04128223]",2/22/15 14:02,5.696180e+17,"Los Angeles, CA",Quito
14447,681679606,False,finalized,3,2/25/15 18:59,negative,0.6943,Flight Booking Problems,0.6943,American,NaN,OrryClayborne,NaN,0,@AmericanAir I got rebooked on on us airways b...,"[47.24879409, -122.43874458]",2/22/15 13:50,5.696150e+17,"Memphis, TN",Eastern Time (US & Canada)
14481,681679640,False,finalized,3,2/25/15 18:47,positive,1.0000,NaN,NaN,American,NaN,JuliaWallClarke,NaN,0,@AmericanAir appreciate update. Have also appr...,"[40.6474324, -73.7936881]",2/22/15 13:24,5.696090e+17,UK / Canada / etc,Atlantic Time (Canada)
14483,681679642,False,finalized,3,2/25/15 19:20,negative,1.0000,Customer Service Issue,1.0000,American,NaN,sweetmel,NaN,0,@AmericanAir The bad weather wasn't a surprise...,"[32.97609561, -96.53349238]",2/22/15 13:23,5.696080e+17,"Dallas, TX",Central Time (US & Canada)
14490,681679649,False,finalized,3,2/25/15 19:46,positive,1.0000,NaN,NaN,American,NaN,stvnoneal,NaN,0,@americanair Greatest Newark Gate Agents ever:...,"[40.68621427, -74.1793971]",2/22/15 13:20,5.696080e+17,NEW YORK CITY,Eastern Time (US & Canada)
14511,681679670,False,finalized,3,2/25/15 19:32,positive,0.6593,NaN,NaN,American,NaN,wesleytravis,NaN,0,@AmericanAir my return flight is scheduled on ...,"[44.26313964, -69.78197616]",2/22/15 13:09,5.696050e+17,"Webster Groves, MO",NaN
14524,681679683,False,finalized,3,2/25/15 18:58,negative,1.0000,Late Flight,0.6849,American,NaN,farazq,NaN,1,@AmericanAir can you do anything to get #AA953...,"[40.80718573, -73.95477259]",2/22/15 13:07,5.696040e+17,"New York, NY",Quito
14525,681679684,False,finalized,3,2/25/15 18:55,negative,1.0000,Can't Tell,0.6826,American,NaN,Texomagal5,NaN,0,@AmericanAir more of the insane treatment by y...,"[38.5369071, -106.9349375]",2/22/15 13:06,5.696040e+17,NaN,Eastern Time (US & Canada)
14528,681679687,False,finalized,3,2/25/15 19:42,negative,1.0000,Flight Attendant Complaints,0.6766,American,NaN,Texomagal5,NaN,0,@AmericanAir is this how you let your employee...,"[38.538038, -106.9370467]",2/22/15 13:06,5.696040e+17,NaN,Eastern Time (US & Canada)
14555,681679714,False,finalized,3,2/25/15 18:52,negative,1.0000,Bad Flight,0.6710,American,NaN,shmitty03,NaN,0,@AmericanAir fix the engine of flight AA3031so...,"[33.64199395, -84.44238523]",2/22/15 12:51,5.696000e+17,"Long Island, New York",Quito
14561,681679720,False,finalized,3,2/25/15 19:38,negative,1.0000,Late Flight,0.6424,American,NaN,skogsbergh,NaN,0,"@AmericanAir Not only was 5418 Late Flight, bu...","[32.90771571, -97.04233322]",2/22/15 12:46,5.695990e+17,Lake Arrowhead,NaN
14577,681679736,False,finalized,3,2/25/15 19:01,negative,0.6694,Customer Service Issue,0.3451,American,NaN,angiedrich,NaN,0,@AmericanAir I have never on all my trips on a...,"[33.93939612, -118.38973148]",2/22/15 12:36,5.695970e+17,"Santa Monica, CA",Pacific Time (US & Canada)
14596,681679755,False,finalized,3,2/25/15 19:06,negative,1.0000,Customer Service Issue,1.0000,American,NaN,catiekate,NaN,0,@AmericanAir we've been on hold for hours.,"[35.22534456, -106.57241352]",2/22/15 12:23,5.695930e+17,NaN,NaN
14612,681679771,False,finalized,3,2/25/15 19:42,negative,1.0000,Cancelled Flight,0.6333,American,NaN,tcunningham10,NaN,0,@AmericanAir a friend is having flight Cancell...,"[40.46692522, -82.64567078]",2/22/15 12:16,5.695920e+17,Central Ohio,Eastern Time (US & Canada)
14624,681679783,False,finalized,3,2/25/15 19:06,negative,1.0000,Can't Tell,1.0000,American,NaN,yourlama,NaN,0,"@AmericanAir Call me Chairman, or call me Emer...","[32.9070889, -97.03785947]",2/22/15 12:10,5.695900e+17,NaN,NaN
14625,681679784,False,finalized,3,2/25/15 19:30,positive,1.0000,NaN,NaN,American,NaN,DrCaseyJRudkin,NaN,0,@AmericanAir Flight 236 was great. Fantastic c...,"[40.64946781, -73.76624703]",2/22/15 12:08,5.695900e+17,East Coast,NaN

In [13]:
#clean_pd["tweet_coord"].str.findall(r"[-+]?\d*\.\d+|\d+")

In [14]:
clean_pd.to_csv('clean_tweets.csv', index=False, encoding = "ISO-8859-1")

In [15]:
#clean_pd["tweet_coord"]

In [16]:
clean_pd = pd.read_csv("clean_tweets.csv", encoding = "ISO-8859-1")

In [17]:
#change to array
clean_pd["tweet_coord"] = clean_pd["tweet_coord"].str.findall(r"[-+]?\d*\.\d+|\d+")
#clean_pd["tweet_coord"].apply(lambda x: re.findall(r"[-+]?\d*\.\d+|\d+", x))

In [18]:
float(clean_pd["tweet_coord"].values[0][0])

40.74804263

In [19]:
city_coord = cities_pd[['latitude', 'longitude']].values

In [20]:
city_coord.dtype

dtype('float64')

In [21]:
city_names = cities_pd['name'].values
city_names

array(['les Escaldes', 'Andorra la Vella', 'Umm al Qaywayn', ...,
       'Beitbridge', 'Epworth', 'Chitungwiza'], dtype=object)

# calculate the closest city directly

In [22]:
start_time = time.time()
clean_pd['city_id'] = clean_pd["tweet_coord"].map(lambda x: np.argmin([(float(x[0])- coord[0])**2 + (float(x[1])-coord[1])**2 for coord in city_coord]))
print("---.%s seconds---" % (time.time()-start_time))

---.41.793593883514404 seconds---

In [23]:
clean_pd['city_id'].head()

0    21569
1    21062
2    22020
3    22020
4    20796
Name: city_id, dtype: int64

In [24]:
clean_pd['city_name'] = clean_pd['city_id'].map(lambda x: city_names[x])

In [25]:
clean_pd['city_name'].head()

0    New York City
1          Chelsea
2       El Segundo
3       El Segundo
4           Frisco
Name: city_name, dtype: object

## calculate the distance

In [26]:
start_time = time.time()
clean_pd['distance'] = clean_pd["tweet_coord"].map(lambda x: [(float(x[0])- coord[0])**2 + (float(x[1])-coord[1])**2 for coord in city_coord])
print("---.%s seconds---" % (time.time()-start_time))

---.39.911250829696655 seconds---

In [27]:
clean_pd.shape

(855, 23)

In [28]:
#clean_pd['distance'] = new_pd
clean_pd.tail()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,...,retweet_count,text,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,city_id,city_name,distance
850,681679736,False,finalized,3,2/25/15 19:01,negative,0.6694,Customer Service Issue,0.3451,American,...,0,@AmericanAir I have never on all my trips on a...,"[33.93939612, -118.38973148]",2/22/15 12:36,5.695970e+17,"Santa Monica, CA",Pacific Time (US & Canada),22020,El Segundo,"[14455.143756290496, 14452.02248169125, 30326...."
851,681679755,False,finalized,3,2/25/15 19:06,negative,1.0000,Customer Service Issue,1.0000,American,...,0,@AmericanAir we've been on hold for hours.,"[35.22534456, -106.57241352]",2/22/15 12:23,5.695930e+17,NaN,NaN,22321,Rio Rancho,"[11740.053643363759, 11737.239514814828, 26378..."
852,681679771,False,finalized,3,2/25/15 19:42,negative,1.0000,Cancelled Flight,0.6333,American,...,0,@AmericanAir a friend is having flight Cancell...,"[40.46692522, -82.64567078]",2/22/15 12:16,5.695920e+17,Central Ohio,Eastern Time (US & Canada),21696,Mount Vernon,"[7090.403631392068, 7088.208749247991, 19321.5..."
853,681679783,False,finalized,3,2/25/15 19:06,negative,1.0000,Can't Tell,1.0000,American,...,0,"@AmericanAir Call me Chairman, or call me Emer...","[32.9070889, -97.03785947]",2/22/15 12:10,5.695900e+17,NaN,NaN,20803,Grapevine,"[9808.60294067412, 9806.039982241555, 23338.54..."
854,681679784,False,finalized,3,2/25/15 19:30,positive,1.0000,NaN,NaN,American,...,0,@AmericanAir Flight 236 was great. Fantastic c...,"[40.64946781, -73.76624703]",2/22/15 12:08,5.695900e+17,East Coast,NaN,21615,Springfield Gardens,"[5673.599790157447, 5671.636478430656, 16951.5..."

## find the nearest city

In [29]:
clean_pd['city_id'] = clean_pd['distance'].map(lambda x: np.argmin(x))
clean_pd['city_name'] = clean_pd['distance'].map(lambda x: city_names[np.argmin(x)])

In [30]:
#distance = clean_pd['distance'].values
#np.argmin(np.asarray(clean_pd.loc[21, 'distance']))
np.argmin(clean_pd.loc[21, 'distance'])

22187

In [31]:
#clean_pd[['city_id','city_name']]

In [32]:
#clean_pd.head()

In [33]:
np.unique(clean_pd['city_name'].values).shape

(291,)

## Check my calculation is right

In [34]:
cities_pd.loc[20796, ['latitude', 'longitude']]

latitude     33.1507
longitude   -96.8236
Name: 20796, dtype: object

In [35]:
(33.9192-33.94540417)**2 + (-118.416+118.4062472)**2

0.000781775633229281

## Get city name one hot

In [36]:
cityname_onehot = pd.get_dummies(cities_pd['name'], columns=['name'])

In [37]:
city_oh_array = cityname_onehot.values

In [38]:
cityname_onehot.columns

Index([''Ali Sabieh', ''s-Gravenzande', ''s-Hertogenbosch', 'A CoruÃ±a',
       'A Estrada', 'Aabenraa', 'Aachen', 'Aalborg', 'Aalen', 'Aalsmeer',
       ...
       'âIzrÄ', 'âAÃ¯n Abid', 'âAÃ¯n Benian', 'âAÃ¯n Deheb',
       'âAÃ¯n Merane', 'âAÃ¯n el Bell', 'âAÃ¯n el Berd',
       'âAÃ¯n el Hammam', 'âAÃ¯n el Melh', 'âAÃ¯n el Turk'],
      dtype='object', length=22162)

In [39]:
city_oh_array.shape

(23278, 22162)

In [40]:
cities_pd.shape

(23278, 19)

In [41]:
clean_pd['city_id'] = clean_pd['distance'].map(lambda x: np.argmin(x))
clean_pd['city_name_onehot'] = clean_pd['distance'].map(lambda x: city_oh_array[np.argmin(x)])
clean_pd['city_name'] = clean_pd['distance'].map(lambda x: city_names[np.argmin(x)])

## get airline_sentiment value

In [42]:
#as_onehot = pd.get_dummies(clean_pd['airline_sentiment'], columns=['airline_sentiment'])
sentiment = np.unique(clean_pd['airline_sentiment'].values).tolist()

In [43]:
clean_pd['y'] = clean_pd['airline_sentiment'].map(lambda x: sentiment.index(x))

In [44]:
len(clean_pd.index)

855

## Build train_df

0    [0 0 0 ... 0 0 0]
1    [0 0 0 ... 0 0 0]
2    [0 0 0 ... 0 0 0]
3    [0 0 0 ... 0 0 0]
4    [0 0 0 ... 0 0 0]
Name: x_str, dtype: object

In [45]:
clean_pd.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,...,tweet_coord,tweet_created,tweet_id,tweet_location,user_timezone,city_id,city_name,distance,city_name_onehot,y
0,681448197,False,finalized,3,2/25/15 2:26,positive,1.000,NaN,NaN,Virgin America,...,"[40.74804263, -73.99295302]",2/24/15 8:49,5.702640e+17,NaN,NaN,21569,New York City,"[5707.4367313605835, 5705.467404032634, 17013....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2
1,681448213,False,finalized,3,2/25/15 9:04,negative,1.000,Bad Flight,1.0,Virgin America,...,"[42.361016, -71.02000488]",2/24/15 5:05,5.702080e+17,"San Mateo, CA & Las Vegas, NV",NaN,21062,Chelsea,"[5264.125335351106, 5262.231988996239, 16303.3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
2,681448214,False,finalized,3,2/25/15 9:14,neutral,0.615,NaN,0.0,Virgin America,...,"[33.94540417, -118.4062472]",2/23/15 23:34,5.701250e+17,Brooklyn,Atlantic Time (Canada),22020,El Segundo,"[14459.002370651877, 14455.880658984288, 30332...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1
3,681448223,False,finalized,3,2/25/15 1:57,negative,1.000,Customer Service Issue,1.0,Virgin America,...,"[33.94209449, -118.40410103]",2/23/15 21:10,5.700880e+17,Washington DC,Quito,22020,El Segundo,"[14458.544235494901, 14455.422583152029, 30332...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0
4,681448228,False,finalized,3,2/25/15 1:01,positive,1.000,NaN,NaN,Virgin America,...,"[33.2145038, -96.9321504]",2/23/15 20:24,5.700770e+17,Texas,Central Time (US & Canada),20796,Frisco,"[9781.966220496042, 9779.405713655302, 23310.9...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2

In [164]:
features_df = pd.DataFrame(columns =['city_id', 'city_name', 'X', 'y', 'sentiment'])

In [165]:
features_df[['city_id', 'city_name', 'X', 'y', 'sentiment']] = clean_pd[['city_id', 'city_name', 'city_name_onehot', 'y', 'airline_sentiment']]

,city_id,city_name,X,y,sentiment
0,21569,New York City,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,positive
1,21062,Chelsea,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,negative
2,22020,El Segundo,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,neutral
3,22020,El Segundo,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,negative
4,20796,Frisco,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,positive

In [167]:
features_df["X"] = features_df["X"].map(lambda x: ' '.join([str(aa) for aa in x]))

In [168]:
features_df.head()

,city_id,city_name,X,y,sentiment
0,21569,New York City,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,2,positive
1,21062,Chelsea,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0,negative
2,22020,El Segundo,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,1,neutral
3,22020,El Segundo,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,0,negative
4,20796,Frisco,0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 ...,2,positive

In [169]:
features_df.to_csv('features.csv', index=False, encoding = "ISO-8859-1")

In [131]:
a=[0,0,0,0,0,0]
b = " ".join(str(aa) for aa in a)
print(b)

0 0 0 0 0 0

In [139]:
aaa = ' '.join(["e", 'f', 'k'])
aaa

'e f k'

In [170]:
train_df = pd.read_csv("features.csv", encoding = "utf-8")

In [163]:
#train_df["X"]

In [171]:
train_df["X"] = train_df["X"].map(lambda x: x.split(" "))

In [172]:
train_df["X"].head()

0    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: X, dtype: object

## Train the model

In [50]:
#clean_pd[['city_name_onehot', 'y']]

In [173]:
X = train_df["X"].values.tolist() #clean_pd['city_name_onehot'].values.tolist() #train_df["X"].values.tolist()
y = train_df["y"].values.tolist()

In [174]:
X = np.asarray(X).astype(float)

In [175]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [103]:
#x = np.array([['1.1', '2.2', '3.3']])
#z = x.astype(np.float)
#z

array([[1.1, 2.2, 3.3]])

In [54]:
#y

In [176]:
clf = LogisticRegression(random_state=0, solver='lbfgs',
                         multi_class='multinomial').fit(X, y)

In [162]:
clean_pd.head()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,...,tweet_created,tweet_id,tweet_location,user_timezone,city_id,city_name,distance,city_name_onehot,y,x_str
0,681448197,False,finalized,3,2/25/15 2:26,positive,1.000,NaN,NaN,Virgin America,...,2/24/15 8:49,5.702640e+17,NaN,NaN,21569,New York City,"[5707.4367313605835, 5705.467404032634, 17013....","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,[0 0 0 ... 0 0 0]
1,681448213,False,finalized,3,2/25/15 9:04,negative,1.000,Bad Flight,1.0,Virgin America,...,2/24/15 5:05,5.702080e+17,"San Mateo, CA & Las Vegas, NV",NaN,21062,Chelsea,"[5264.125335351106, 5262.231988996239, 16303.3...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,[0 0 0 ... 0 0 0]
2,681448214,False,finalized,3,2/25/15 9:14,neutral,0.615,NaN,0.0,Virgin America,...,2/23/15 23:34,5.701250e+17,Brooklyn,Atlantic Time (Canada),22020,El Segundo,"[14459.002370651877, 14455.880658984288, 30332...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",1,[0 0 0 ... 0 0 0]
3,681448223,False,finalized,3,2/25/15 1:57,negative,1.000,Customer Service Issue,1.0,Virgin America,...,2/23/15 21:10,5.700880e+17,Washington DC,Quito,22020,El Segundo,"[14458.544235494901, 14455.422583152029, 30332...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,[0 0 0 ... 0 0 0]
4,681448228,False,finalized,3,2/25/15 1:01,positive,1.000,NaN,NaN,Virgin America,...,2/23/15 20:24,5.700770e+17,Texas,Central Time (US & Canada),20796,Frisco,"[9781.966220496042, 9779.405713655302, 23310.9...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,[0 0 0 ... 0 0 0]

In [177]:
clf.predict_proba(X[5:20, :])

array([[0.45511089, 0.36620047, 0.17868863],
       [0.45511089, 0.36620047, 0.17868863],
       [0.73749134, 0.16688061, 0.09562805],
       [0.67601554, 0.07088513, 0.25309934],
       [0.45729415, 0.30017348, 0.24253236],
       [0.6268758 , 0.14585264, 0.22727156],
       [0.63050772, 0.1219309 , 0.24756138],
       [0.72622313, 0.13118368, 0.14259318],
       [0.73749134, 0.16688061, 0.09562805],
       [0.63050772, 0.1219309 , 0.24756138],
       [0.81383511, 0.09116459, 0.0950003 ],
       [0.68285654, 0.08301075, 0.23413271],
       [0.68285654, 0.08301075, 0.23413271],
       [0.6268758 , 0.14585264, 0.22727156],
       [0.68285654, 0.08301075, 0.23413271]])

In [178]:
# Output a pickle file for the model
joblib.dump(clf, 'saved_model.pkl')

['saved_model.pkl']

In [179]:
clf_load = joblib.load('saved_model.pkl')

In [180]:
y_pred = clf_load.predict(X)

In [181]:
print(np.sum(y_pred==y)/len(y_pred))

0.6970760233918128

In [182]:
y_pred_prob = clf_load.predict_proba(X)

In [183]:
y_pred_prob

array([[0.48150977, 0.19796215, 0.32052807],
       [0.6083696 , 0.19267507, 0.19895533],
       [0.63050772, 0.1219309 , 0.24756138],
       ...,
       [0.77536881, 0.1079688 , 0.1166624 ],
       [0.80175037, 0.06938709, 0.12886254],
       [0.73749134, 0.16688061, 0.09562805]])

## Create output

In [185]:
sentiments = np.unique(train_df['sentiment'].values).tolist()
sentiments

['negative', 'neutral', 'positive']

In [187]:
pred_prob_df = pd.DataFrame(y_pred_prob, columns = sentiments)

   negative   neutral  positive      city_name
0  0.481510  0.197962  0.320528  New York City
1  0.608370  0.192675  0.198955        Chelsea
2  0.630508  0.121931  0.247561     El Segundo
3  0.630508  0.121931  0.247561     El Segundo
4  0.457919  0.124169  0.417912         Frisco

In [190]:
pred_prob_df["city_name"] = clean_pd["city_name"]

In [199]:
pred_prob_df = pred_prob_df.drop_duplicates()

In [200]:
print(pred_prob_df.shape)
pred_prob_df.head()

(291, 4)

     negative   neutral  positive       city_name
549  0.274621  0.118725  0.606654      The Valley
402  0.274621  0.118725  0.606654    Meadow Woods
748  0.340416  0.138151  0.521433      Costa Mesa
322  0.340416  0.138151  0.521433  Salt Lake City
110  0.302891  0.256372  0.440736        Bergeijk

In [201]:
np.unique(pred_prob_df["city_name"]).shape

(291,)

In [202]:
pred_prob_df=pred_prob_df.sort_values('positive', ascending=False)

In [203]:
pred_prob_df.head(100)

     negative   neutral  positive           city_name
549  0.274621  0.118725  0.606654          The Valley
402  0.274621  0.118725  0.606654        Meadow Woods
748  0.340416  0.138151  0.521433          Costa Mesa
322  0.340416  0.138151  0.521433      Salt Lake City
110  0.302891  0.256372  0.440736            Bergeijk
4    0.457919  0.124169  0.417912              Frisco
705  0.457919  0.124169  0.417912        White Plains
324  0.449932  0.162464  0.387604             Lubbock
203  0.449932  0.162464  0.387604           Etobicoke
245  0.449932  0.162464  0.387604            Farragut
277  0.449932  0.162464  0.387604        South Jordan
284  0.449932  0.162464  0.387604             Leawood
297  0.449932  0.162464  0.387604       American Fork
803  0.449932  0.162464  0.387604            Key West
559  0.449932  0.162464  0.387604            Secaucus
560  0.449932  0.162464  0.387604            Savannah
336  0.449932  0.162464  0.387604   North Little Rock
514  0.449932  0.162464  0.387604     North Salt Lake
25   0.449932  0.162464  0.387604            Westford
320  0.449932  0.162464  0.387604              Euless
797  0.449932  0.162464  0.387604            Canarsie
496  0.449932  0.162464  0.387604        Port Chester
434  0.449932  0.162464  0.387604               Bowie
490  0.449932  0.162464  0.387604             Decatur
488  0.449932  0.162464  0.387604     West Sacramento
435  0.449932  0.162464  0.387604              Durham
196  0.449932  0.162464  0.387604            Winnipeg
314  0.449932  0.162464  0.387604              Sparks
339  0.449932  0.162464  0.387604  Cranberry Township
48   0.449932  0.162464  0.387604            RÃ¥sunda
..        ...       ...       ...                 ...
181  0.647121  0.090537  0.262342             Chicago
366  0.487284  0.252005  0.260711              Austin
146  0.676016  0.070885  0.253099            Oak Hill
279  0.676016  0.070885  0.253099            Paradise
542  0.588722  0.159811  0.251467     Jackson Heights
405  0.630508  0.121931  0.247561          El Segundo
9    0.457294  0.300173  0.242532       San Francisco
304  0.645203  0.115764  0.239033              Cicero
667  0.645203  0.115764  0.239033                Kent
303  0.645203  0.115764  0.239033            Ossining
744  0.645203  0.115764  0.239033              Golden
207  0.645203  0.115764  0.239033            Orchards
636  0.404906  0.358624  0.236469        Philadelphia
787  0.682857  0.083011  0.234133              Dallas
394  0.556457  0.216200  0.227344    Rancho Cucamonga
734  0.556457  0.216200  0.227344         Morrisville
461  0.626876  0.145853  0.227272         Dania Beach
1    0.608370  0.192675  0.198955             Chelsea
808  0.613696  0.188493  0.197811         Brownsville
801  0.738443  0.079689  0.181868           Charlotte
800  0.455111  0.366200  0.178689            Glendale
809  0.455111  0.366200  0.178689  Jacksonville Beach
567  0.455111  0.366200  0.178689             Potomac
51   0.455111  0.366200  0.178689                Hale
160  0.455111  0.366200  0.178689            Shanghai
220  0.455111  0.366200  0.178689    West Valley City
313  0.455111  0.366200  0.178689              Mentor
136  0.455111  0.366200  0.178689          Tung Chung
232  0.455111  0.366200  0.178689          Louisville
231  0.455111  0.366200  0.178689       Beverly Hills

[100 rows x 4 columns]

## Old code

In [67]:
clean_pd[sentiments] = pred_prob_df[sentiments]

In [68]:
#pred_prob_df[['name']] = clean_pd[['name']]
clean_pd.shape

(855, 28)

In [69]:
#pred_prob_df.head(100)
o_df = clean_pd[['negative','neutral','positive' ,'city_name']]

In [70]:
o_df=o_df.sort_values('positive', ascending=False)
o_df.shape

(855, 4)

In [71]:
xy = o_df.values

In [72]:
xy

array([[0.4815097739548978, 0.19796215120228494, 0.3205280748428173,
        'Washington, D.C.'],
       [0.570044336053005, 0.13544731434386229, 0.2945083496031328,
        'Kenner'],
       [0.6089094378451265, 0.10623700149381524, 0.28485356066105827,
        'Calgary'],
       ...,
       [nan, nan, nan, 'Mount Vernon'],
       [nan, nan, nan, 'Grapevine'],
       [nan, nan, nan, 'Springfield Gardens']], dtype=object)

In [73]:
clean_pd.tail()

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,airline_sentiment,airline_sentiment:confidence,negativereason,negativereason:confidence,airline,...,tweet_location,user_timezone,distance,city_id,city_name,city_name_onehot,y,negative,neutral,positive
14577,681679736,False,finalized,3,2/25/15 19:01,negative,0.6694,Customer Service Issue,0.3451,American,...,"Santa Monica, CA",Pacific Time (US & Canada),"[14455.143756290496, 14452.02248169125, 30326....",22020,El Segundo,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,NaN,NaN,NaN
14596,681679755,False,finalized,3,2/25/15 19:06,negative,1.0000,Customer Service Issue,1.0000,American,...,NaN,NaN,"[11740.053643363759, 11737.239514814828, 26378...",22321,Rio Rancho,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,NaN,NaN,NaN
14612,681679771,False,finalized,3,2/25/15 19:42,negative,1.0000,Cancelled Flight,0.6333,American,...,Central Ohio,Eastern Time (US & Canada),"[7090.403631392068, 7088.208749247991, 19321.5...",21696,Mount Vernon,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,NaN,NaN,NaN
14624,681679783,False,finalized,3,2/25/15 19:06,negative,1.0000,Can't Tell,1.0000,American,...,NaN,NaN,"[9808.60294067412, 9806.039982241555, 23338.54...",20803,Grapevine,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",0,NaN,NaN,NaN
14625,681679784,False,finalized,3,2/25/15 19:30,positive,1.0000,NaN,NaN,American,...,East Coast,NaN,"[5673.599790157447, 5671.636478430656, 16951.5...",21615,Springfield Gardens,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",2,NaN,NaN,NaN

## Old temp codes

In [74]:
#clean_pd['name']

In [75]:
from sklearn.datasets import load_iris

X1, y1 = load_iris(return_X_y=True)

In [76]:
X1

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [77]:
y1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [78]:
at_pd = airline_tweets_pd[airline_tweets_pd["tweet_coord"].str.contains('[[0-9]+.[0-9]+, [0-9]+.[0-9]+]')]

ValueError: cannot index with vector containing NA / NaN values

In [ ]:
#airline_tweets_pd[airline_tweets_pd["tweet_coord"].isnull()].size
#airline_tweets_pd["tweet_coord"] #.isnull()
at_pd_temp = airline_tweets_pd[~airline_tweets_pd["tweet_coord"].str.contains('nan', case = False)]

In [ ]:
at_pd_temp.size

In [ ]:
at_pd_temp["tweet_coord"].head()

In [ ]:
at_pd_temp1 = at_pd_temp[~at_pd_temp["tweet_coord"].str.contains('[0.0, 0.0]', regex = False)]
at_pd_temp1.size

In [ ]:
at_pd_temp2 = at_pd_temp1[at_pd_temp1["tweet_coord"].str.contains('0.0]', regex = False)]
at_pd_temp2.size

In [ ]:
at_pd_temp1["tweet_coord"].head()

In [ ]:
print(airline_tweets_pd.size)
print(at_pd.size)
at_pd["tweet_coord"].head()

In [ ]:
at_pd_new = at_pd[~at_pd["tweet_coord"].str.contains('[0.0, 0.0]')]

In [ ]:
at_pd_new["tweet_coord"].head()

In [ ]:
#airline_tweets_pd.dtypes
#airline_tweets_pd = airline_tweets_pd.astype({"tweet_coord":str}) # = airline_tweets_pd["tweet_coord"].apply(pd.to)
airline_tweets_pd["tweet_coord"] = airline_tweets_pd["tweet_coord"].astype('str')

In [ ]:
airline_tweets_pd["tweet_coord"].dtypes

In [ ]:
at_pd.head()

In [ ]:
#geonameid
print(len(cities_pd['name'].values))
print(np.unique(cities_pd['name'].values).shape)

print(len(cities_pd['geonameid'].values))
print(np.unique(cities_pd['geonameid'].values).shape)

In [ ]:
d_df = cities_pd[cities_pd['name'].duplicated()]

In [ ]:
d_df[d_df['name']=='Mercedes']  #.head(20)